// Fonts
@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PTSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PTSans-Bold.ttf');
    font-weight: Bold;
    font-style: normal;
}