.block-third {
    background-image: url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 840px;

    .why {
        padding-top: rem(104px);
        padding-bottom: rem(93px);
    }

    .eighteen-years {
        padding-bottom: rem(45px);
    }

    .stock {
        background-color: $danger-color;
        border-radius: 5px;
        margin-top: rem(54px);
        margin-bottom: rem(50px);
        padding: rem(33px) rem(34px) rem(30px) rem(38px);
        display: flex;


        .description {
            font-size: rem(22px);
            text-align: left;
            padding-right: rem(73px);
        }

        .thousand {
            border-left: 2px solid rgba(255, 255, 255, 0.5);
            padding-left: rem(32px);
        }

        .plus-svg {
            width: rem(36px);
            height: rem(36px);
            fill: $default-color;
            align-self: center;
            padding-left: rem(9px);
        }
    }

    .copyright {
        font-size: rem(14px);
        opacity: 0.5;
        text-align: center;
        margin-bottom: rem(52px);
    }

    .underline {
        text-decoration: underline;
    }

    .bold {
        font-weight: bold;
    }
}