@import "./utils/reset";
@import "./utils/fonts";
@import "./utils/libs";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/grid";

html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $mainFontColor;
    height: 100%;
    @media screen and (max-width: $desktopWidth) {
        font-size: 16px;
    }
    @media screen and (max-width: $tableWidth) {
        font-size: 15px;
    }
    @media screen and (max-width: $phoneWidth) {
        font-size: 14px;
    }
}

body {
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, p {
    text-align: center;
}

h1 {
    font-size: rem(50px);
    font-weight: bold;
}

h2 {
    font-size: rem(35px);
    font-weight: bold;
}

h3 {
    font-size: rem(20px);
}

// Modules
@import "./modules/block-first/block-first.scss";
@import "./modules/btn-create-account.scss";
@import "./modules/navigation-points.scss";
@import "./modules/logo.scss";